body {
    background-color: #f0f2f5;
    margin: 0;
    /* font-family: -apple-system, 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Roboto', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ant-popover-inner-content {
    padding: 5px 0;
}

.ant-popover-arrow {
    display: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Bold-webfont.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Medium-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Italic-webfont.woff');
    font-weight: normal;
    font-style: italic;
}
